@model HomeViewModel
@{
    ViewBag.Title = "Index";
}

<!-- Header -->
<header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">
        <div class="topbar">
            <div class="topbar-social">
                <a href="#" class="topbar-social-item fa fa-facebook"></a>
                <a href="#" class="topbar-social-item fa fa-instagram"></a>
                <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
            </div>

            <span class="topbar-child1">
                Free shipping for standard order over $100
            </span>

            <div class="topbar-child2">
                <span class="topbar-email">
                    fashe@example.com
                </span>
            </div>
        </div>

        <div class="wrap_header">
            <!-- Logo -->
            <a href="/Home/Index" class="logo">
                <img src="@Url.Content("~/Content/images/LOGO13.png")" alt="IMG-LOGO">
            </a>

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li>
                            <a href="/Home/Index">Home</a>
                        </li>

                        <li>
                            <a href="/Shop/ShopHomePage">Shop</a>
                        </li>

                        <li>
                            <a href="product.html">Sale</a>
                        </li>

                        <li>
                            <a href="/ShoppingCart/Cart">Features</a>
                        </li>

                        <li>
                            <a href="blog.html">Blog</a>
                        </li>

                        <li class="sale-noti">
                            <a href="/Home/About">About</a>
                        </li>

                        <li>
                            <a href="/Home/Contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Header Icon -->
            <div class="header-icons">
                @if (Model.User.Username == null)
                {
                    <a href="@Url.Action("LogIn", "Member")" class="header-wrapicon1 dis-block">
                        <img src="@Url.Content("~/Content/images/icons/icon-header-01.png")" class="header-icon1" alt="ICON">
                    </a>
                }
                else
                {
                    <div class="header-wrapicon2 m-r-13">
                        <img src="@Url.Content("~/Content/images/icons/00.png")" class="header-icon1 js-show-header-dropdown" alt="ICON">

                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown" style="width:160px;height:200px">
                            <ul class="header-cart-wrapitem">
                                <li class="header-cart-item">
                                    <div>
                                        <a href="@Url.Action("Account_Member","Member")" class="header-cart-item-name" style="color:royalblue">
                                            @Model.User.Username
                                        </a>
                                    </div>
                                </li>

                                <li class="header-cart-item">

                                    <div>

                                        <a href="@Url.Action("Account_UpdateMember","Member")" class="header-cart-item-name">
                                            <i class="far fa-edit"></i>
                                            修改會員
                                        </a>
                                    </div>
                                </li>

                                <li class="header-cart-item">

                                    <div>
                                        <a href="@Url.Action("Account_Order","Member")" class="header-cart-item-name">
                                            <i class="fas fa-search"></i>
                                            查詢訂單
                                        </a>
                                    </div>
                                </li>
                                <li class="header-cart-item">

                                    <div>
                                        <a href="@Url.Action("LogOut","Member")" class="header-cart-item-name">
                                            <i class="fas fa-sign-out-alt"></i>
                                            登出
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                <span class="linedivide1"></span>

                <div class="header-wrapicon2">
                    <img src="~/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown shop" alt="ICON">
                    <span class="header-icons-noti">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown shop">
                        <a href="/Member/LogIn"><i class="fas fa-sign-in-alt" style="margin-right:15px"></i>請登入會員</a>
                        @*<ul class="header-cart-wrapitem">
                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="@Url.Content("~/Content/images/item-cart-01.jpg")" alt="IMG">
                                    </div>

                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name AutoSkip">
                                            White Shirt With Pleat Detail Back
                                        </a>

                                        <span class="header-cart-item-info">
                                            12 x $19.00
                                        </span>
                                    </div>
                                </li>

                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="@Url.Content("~/Content/images/item-cart-02.jpg")" alt="IMG">
                                    </div>

                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            Converse All Star Hi Black Canvas
                                        </a>

                                        <span class="header-cart-item-info">
                                            1 x $39.00
                                        </span>
                                    </div>
                                </li>

                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="@Url.Content("~/Content/images/item-cart-03.jpg")" alt="IMG">
                                    </div>

                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            Nixon Porter Leather Watch In Tan
                                        </a>

                                        <span class="header-cart-item-info">
                                            1 x $17.00
                                        </span>
                                    </div>
                                </li>
                            </ul>

                            <div class="header-cart-total Total">
                                Total: $75.00
                            </div>

                            <div class="header-cart-buttons">
                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    <a href="/ShoppingCart/Index" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        View Cart
                                    </a>
                                </div>

                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        Check Out
                                    </a>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="/Home/Index" class="logo-mobile">
            <img src="~/Content/images/LOGO13.png" alt="IMG-LOGO">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                @if (Model.User.Username == null)
                {
                    <a href="@Url.Action("LogIn", "Member")" class="header-wrapicon1 dis-block">
                        <img src="@Url.Content("~/Content/images/icons/icon-header-01.png")" class="header-icon1" alt="ICON">
                    </a>
                }
                else
                {
                    <div class="header-wrapicon2 m-r-13">
                        <img src="@Url.Content("~/Content/images/icons/00.png")" class="header-icon1 js-show-header-dropdown" alt="ICON">

                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown" style="width:160px;height:200px">
                            <ul class="header-cart-wrapitem">
                                <li class="header-cart-item">
                                    <div>
                                        <a href="@Url.Action("Account_Member","Member")" class="header-cart-item-name" style="color:royalblue">
                                            @Model.User.Username
                                        </a>
                                    </div>
                                </li>

                                <li class="header-cart-item">

                                    <div>

                                        <a href="@Url.Action("Account_UpdateMember","Member")" class="header-cart-item-name">
                                            <i class="far fa-edit"></i>
                                            修改會員
                                        </a>
                                    </div>
                                </li>

                                <li class="header-cart-item">

                                    <div>
                                        <a href="@Url.Action("Account_Order","Member")" class="header-cart-item-name">
                                            <i class="fas fa-search"></i>
                                            查詢訂單
                                        </a>
                                    </div>
                                </li>
                                <li class="header-cart-item">

                                    <div>
                                        <a href="@Url.Action("LogOut","Member")" class="header-cart-item-name">
                                            <i class="fas fa-sign-out-alt"></i>
                                            登出
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                <span class="linedivide2"></span>

                <div class="header-wrapicon2">
                    <img src="~/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown shop" alt="ICON">
                    <span class="header-icons-noti">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown shop">
                        <a href="/Member/LogIn"><i class="fas fa-sign-in-alt" style="margin-right:15px"></i>請登入會員</a>
                        @*<ul class="header-cart-wrapitem">
                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="@Url.Content("~/Content/images/item-cart-01.jpg")" alt="IMG">
                                    </div>

                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name AutoSkip">
                                            White Shirt With Pleat Detail Back
                                        </a>

                                        <span class="header-cart-item-info">
                                            12 x $19.00
                                        </span>
                                    </div>
                                </li>

                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="@Url.Content("~/Content/images/item-cart-02.jpg")" alt="IMG">
                                    </div>

                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            Converse All Star Hi Black Canvas
                                        </a>

                                        <span class="header-cart-item-info">
                                            1 x $39.00
                                        </span>
                                    </div>
                                </li>

                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="@Url.Content("~/Content/images/item-cart-03.jpg")" alt="IMG">
                                    </div>

                                    <div class="header-cart-item-txt">
                                        <a href="#" class="header-cart-item-name">
                                            Nixon Porter Leather Watch In Tan
                                        </a>

                                        <span class="header-cart-item-info">
                                            1 x $17.00
                                        </span>
                                    </div>
                                </li>
                            </ul>

                            <div class="header-cart-total Total">
                                Total: $75.00
                            </div>

                            <div class="header-cart-buttons">
                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    <a href="/ShoppingCart/Index" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        View Cart
                                    </a>
                                </div>

                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        Check Out
                                    </a>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu">
        <nav class="side-menu">
            <ul class="main-menu">
                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <span class="topbar-child1">
                        Free shipping for standard order over $100
                    </span>
                </li>

                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <div class="topbar-child2-mobile">
                        <span class="topbar-email">
                            fashe@example.com
                        </span>
                    </div>
                </li>

                <li class="item-topbar-mobile p-l-10">
                    <div class="topbar-social-mobile">
                        <a href="#" class="topbar-social-item fa fa-facebook"></a>
                        <a href="#" class="topbar-social-item fa fa-instagram"></a>
                        <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                        <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                        <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                    </div>
                </li>

                <li class="item-menu-mobile">
                    <a href="/Home/Index">Home</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="/Shop/ShopHomePage">Shop</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="product.html">Sale</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="/ShoppingCart/Cart">Features</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="blog.html">Blog</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="/Home/About">About</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="/Home/Contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(http://www.zhiwutuan.com/statics/images/ny_banner_bg3.jpg);"></section>

<!-- content page -->
<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="~/Content/images/1438172205530_1.jpg" alt="IMG-ABOUT">
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    洪識超
                </h3>

                

                <div class="bo13 p-l-29 m-l-9 p-b-10">
                    <p class="p-b-11">
                        首先感謝各位老師的指導。
                        在這次的專題中我學到了很多東西，從最開始的規劃資料庫圖表到做出一個完整的雲端資料庫，
                        前前後後寫了不少的View跟StoreProcedure還有Model，從一般的connection.open()和close()到使用Dapper來縮短
                        程式碼，還有使用SimpleInjector的Container和注入連線字串到Repository裡面，還有就是MVC的架構，對於使用者密碼
                        也使用了加密資料，以及Azure的連線字串來防止外洩。
                        這次專題我們的組員花了很久的時間來做前端的排版及設計，可惜最後還是決定用套版的方式，在此跟這些組員說聲道歉以及
                        謝謝，對於我任性的要求還可以配合，謝謝鄭逸涵組員的Logo設計及前端設計，也謝謝林靜華老師的前端設計和輔佐其他組員，
                        這次的套版遇到了很多問題，例如.js黨和.css黨的路徑問題，還有無法套版造成網頁的排版錯誤，當初為了修這些問題花了
                        很多時間，打開F12發現100多的錯誤，真的很想把電腦關上直接放棄，可是最後還是慢慢的把它修復，也是因為套版就想說都
                        重作了乾脆做好一點，資料庫一改再改，View跟StoreProcedure也是一個一個地依照套版的功能把功能實做出來，為了這些功能
                        我們的demo一直都比別人的進度延後了很多也少做了許多的東西，也導致了後台的效果不甚理想，不過也在期限內完成了像樣的
                        網站，阿畦謝謝你交了一些好用的方法，還有罵你是為你好啊ㄏㄏ，龍謝謝你幫忙後端及修理前端Bug，不過我還是想說你可以做
                        的更好，多花點時間在上面對你未來也是很有幫助的，在此謝謝各位組員的配合。
                        我不能說我們的網站是最好的，我只能說我盡力了~
                    </p>

                    <span class="s-text7">
                        - 洪識超
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="~/Content/images/R7.jpg" style="margin-top:-150px;" alt="IMG-ABOUT">
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    黃宗畦
                </h3>

                <p class="p-b-28">

                </p>

                <div class="bo13 p-l-29 m-l-9 p-b-10">
                    <p class="p-b-11">
                        在這次MVC專案的實作中，我更加了解ASP.NET MVC的架構，職責分離的概念。
                        在前端方面，我對網站的設計和技術都有提升，像是運用Bootstrap、CSS讓網站的畫面看起來更美也更順眼，
                        再用jQuery讓一些部件能做到想要的效果，尤其在套網路上的電商版面時，因為需要先知道別人是怎麼設計的，
                        所以會學習到很多新的前端技術。在後端方面，我更了解從Repository到Service再到Controller的步驟來取出想要的值，
                        和運用Dapper來簡化重複的程式碼。在資料庫方面，透過參與資料庫的規劃，
                        我更明白如何將需求轉變為一個一個的資料表和SQL Server的權限設定。
                    </p>

                    <span class="s-text7">
                        - 黃宗畦
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="~/Content/images/S_8136057260415.jpg" alt="IMG-ABOUT">
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    施敬龍
                </h3>

                <p class="p-b-28">
                    
                </p>

                <div class="bo13 p-l-29 m-l-9 p-b-10">
                    <p class="p-b-11">
                        在這次MVC專案中，學到如何使用ASP.NET MVC開發網頁應用程式，
                        使用Layout將重複版面套在其他不同版面上，減少撰寫重複程式。
                        利用切換Partial View以不刷新頁面方式切換部分網頁內容，
                        或篩選商品，或查詢。開發過程中，因使用網路上的電商網站版面，
                        將我們資料顯示在版面上遇到許多問題，例如引用該CSS樣式及javaScript語法中，
                        找不到檔案或路徑不對問題，這使得花費許多時間在上面，使我對於檔案路徑有更清楚的了解。
                        從寫Repository、StoreProcedure讓我練習到如何用Dapper簡化C#串接SQL SERVER資料。
                    </p>

                    <span class="s-text7">
                        - 施敬龍
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="~/Content/images/" alt="IMG-ABOUT">
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    熊祥景
                </h3>

                <p class="p-b-28">

                </p>

                <div class="bo13 p-l-29 m-l-9 p-b-10">
                    <p class="p-b-11">
                        Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                    </p>

                    <span class="s-text7">
                        - 熊祥景
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="~/Content/images/" alt="IMG-ABOUT">
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    鄭逸涵
                </h3>

                <p class="p-b-28">

                </p>

                <div class="bo13 p-l-29 m-l-9 p-b-10">
                    <p class="p-b-11">
                        Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                    </p>

                    <span class="s-text7">
                        - 鄭逸涵
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="~/Content/images/" alt="IMG-ABOUT">
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    林靜華
                </h3>

                <p class="p-b-28">

                </p>

                <div class="bo13 p-l-29 m-l-9 p-b-10">
                    <p class="p-b-11">
                        Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                    </p>

                    <span class="s-text7">
                        - 林靜華
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>

<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>

@Scripts.Render("~/Content/vendors")
@Scripts.Render("~/bundles/vendors1")
@Scripts.Render("~/bundles/js")

<script type="text/javascript">
    $(".header-icons-noti").text(@Model.Count);
    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });
    $('.js-show-header-dropdown.shop').click(function () {
        //if ($('#user').length == 0) {
        //    location.href = "/Member/LogIn";
        //}
        console.log($(this));
        $.ajax({
            url: "/ShoppingCart/ShoppingBar",
            success: function (result) {
                $('.header-dropdown.shop').empty();
                $('.header-dropdown.shop').html(result);
            }
        });
    });
</script>
@if (Model.User.Username != null)
{
    <script type="text/javascript">
        $.ajax({
            url: "/ShoppingCart/ShoppingBar",
            success: function (result) {
                $('.header-dropdown.shop').empty();
                $('.header-dropdown.shop').html(result);
            }
        });
    </script>
}